<div class="top-w">
    <div class="container">
        <p>コミュニティーを、もっと自由に。</p>
        <h1>creWate</h1>
    </div>
</div>
<div class="main-w">
    <div class="container">
        <h2 class="heading">creWateとは？</h2>
        <p>creWateは、</p>
        <h3>Crew（仲間を）× Web（ウェブサイトで）× Create（創る）</h3>
        <p>をテーマに、Webサイトを用いて自分だけのクルー（仲間）を創る、<br>またはクルーに参加することを目的としたコミュニティ作成サイトです。</p>
        <div class="situations">
            <div class="situation">
                <img class="situation_icon" src="/images/n0887.png" alt="集める">
                <h2>仲間を集めたい</h2>
                <p>活動内容を書いて募集しよう。</p>
            </div>
            <div class="situation">
                <img class="situation_icon"  src="/images/n0888.png" alt="参加する">
                <h2>コミュニティに参加したい</h2>
                <p>投稿一覧からコンタクトをとってみよう。</p>
            </div>
            <div class="situation">
                <img class="situation_icon"  src="/images/n0689.png" alt="共有する">
                <h2>環境や情報の共有がしたい</h2>
                <p>共有したい情報を投稿しよう。</p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="footer-logo">
            <img src="/images/logo_transparent.png">
        </div>
    </div>
</footer>