html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    background-image: url("/images/desk-1081708_1920.jpg");
    background-position: 50% 18%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    color: white;
    height: 65px;
    background-color: rgba(34, 49, 52, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-left p {
    padding: 0 20px;
}

.header-logo {
    width: 124px;
    padding: 0 20px;
    color: #eee;
    font-size: 20px;
}

.loginbox {
    width: 320px;
    height: 460px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid rgb(207, 206, 206);
    padding: 70px 30px;
    opacity: 0.85;
}

.logo {
    width: 300px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    object-position: 0 43%;
    top: 10px;
    left: 10px;
}


.loginbox p {
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(207, 206, 206);
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.loginbox a:hover {
    color: blue;
    text-decoration: underline;
}